html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    display: flex;
    flex: 9;
    height: 100%;
    width: 100%;
}

#speed {
    position: absolute;
    left: 5px;
    bottom: 30px;
}